<!-- <div class="bg-light container-fluid d-none d-md-block">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4 mx-auto my-4">
            <img class="img-fluid" src="../content/photos/hadrians-wall.JPG" alt="photo of Hadrian's wall">
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 mx-auto my-4">
            <img class="img-fluid" src="../content/photos/rose.JPG" alt="photo of a rose">
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 mx-auto my-4">
            <img class="img-fluid" src="../content/photos/arrow.JPG" alt="photo of an arrow">
        </div>
    </div>
   
</div> -->

<div class="w-50 m-auto d-none d-sm-block container-fluid">
    <div id="photoCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="20000">
                <img class="img-fluid mx-auto" src="../content/photos/hadrians-wall.JPG" alt="photo of Hadrian's wall">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hadrian's Wall</h5>
                    <p>Photo by Timothy Smith</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="20000">
                <img class="img-fluid mx-auto" src="../content/photos/rose.JPG" alt="photo of a rose">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Natural Beauty</h5>
                    <p>Photo by Timothy Smith</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="20000">
                <img class="img-fluid mx-auto" src="../content/photos/camila-cordeiro.JPG" alt="wedding photo - Camila Cordeiro from Unsplash">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Wedding Photography</h5>
                    <p>Photo by Camila Cordeiro</p>
                </div>
            </div>
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        
    </div>
</div>