<%- include('header'); -%>


    <%- include('nav'); -%>

    
        <div class="mx-auto px-4 py-4 container-fluid">
            <h3 id="ice-cream">You have been logged out.</h3>
            <p>Please log in with your new login details.</p>
        </div>



    
    <%- include('footer'); -%>

