<%- include('header'); -%>
    <%- include('nav'); -%>

    
        <div class="mx-auto px-4 py-4 container-fluid">
            <h3 id="ice-cream">Moreland Photography Studio Latest News</h3>
            <p>Stay up-to-date with all the exciting developments and announcements from Moreland Photography Studio right here. From innovative service expansions to industry awards and community initiatives, this page is your go-to destination for the latest news and updates. Join us as we celebrate our achievements, share our stories, and continue to push the boundaries of creativity and excellence in the world of photography. Explore our latest news below and discover what sets Moreland Photography Studio apart.</p>
            
            <div class="p-4 mb-4 bg-light rounded">
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <img src="../content/photos/sarandy-westfall.jpg" alt="virtual photoshoots - photo by Sarandy Westfall" class="img-fluid rounded-pill">
                    </div>
                    <div class="col-sm-8 col-12">
                        <p class="lead">Moreland Photography Studio Expands Services, Introduces Virtual Photoshoots</p>
                        <p class="small">Moreland Photography Studio announced today the launch of their new virtual photoshoot service, allowing clients to have professional photoshoots from the comfort of their own homes. With the increasing demand for remote services, this innovative offering is set to revolutionize the photography industry.</p>

                    </div>
                </div>
            </div>

            <div class="p-4 mb-4 bg-light rounded">
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <img src="../content/photos/camila-cordeiro.JPG" alt="industry award - photo by Camila Cordeiro" class="img-fluid rounded-pill">
                    </div>
                    <div class="col-sm-8 col-12">
                        <p class="lead">Moreland Photography Studio Wins Prestigious Industry Award for Excellence in Wedding Photography</p>
                        <p class="small">Moreland Photography Studio has been honored with the WeddingWire Couples' Choice Award for their exceptional wedding photography services. This prestigious award recognizes the top 5% of wedding professionals on WeddingWire, showcasing Moreland Photography Studio's commitment to excellence and customer satisfaction.</p>

                    </div>
                </div>
            </div>

            <div class="p-4 mb-4 bg-light rounded">
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <img src="../content/photos/katt-yukawa-K0E6E0a0R3A-unsplash.jpg" alt="handse with change - photo by Katt Yukawa" class="img-fluid rounded-pill">
                    </div>
                    <div class="col-sm-8 col-12">
                        <p class="lead">Moreland Photography Studio Partners with Local Charities to Give Back to the Community</p>
                        <p class="small">Moreland Photography Studio announced today their partnership with several local charities to provide free photography services to those in need. Through this initiative, the studio aims to give back to the community and capture moments of joy for individuals and families facing challenging circumstances.</p>

                    </div>
                </div>
            </div>

            <div class="p-4 mb-4 bg-light rounded">
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <img src="../content/photos/surja-sen-das-raj-WkKxQpy3eTY-unsplash.jpg" alt="laptop on desk - photo by Surja Sen Das Raj" class="img-fluid rounded-pill">
                    </div>
                    <div class="col-sm-8 col-12">
                        <p class="lead">Moreland Photography Studio Launches New Website with Enhanced User Experience</p>
                        <p class="small">Moreland Photography Studio unveiled their newly redesigned website today, featuring a sleek modern design and enhanced user experience. The updated site showcases their portfolio, services, and client testimonials, making it easier than ever for clients to explore their offerings and book their next photography session.</p>

                    </div>
                </div>
            </div>
        </div>



    
    
    <%- include('footer'); -%>

